apiVersion: apps/v1
kind: Deployment
metadata:
  name: resume-ui
spec:
  selector:
    matchLabels:
      app: resume-ui
  template:
    metadata:
      labels:
        app: resume-ui
    spec:
      containers:
      - name: resume-ui
        image: dozy27/resume-ui:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
      imagePullSecrets:
      - name: dockerhub-credentials
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: resume-ui
  annotations:
    kubernetes.io/ingress.global-static-ip-name: devdaze-ip
  labels:
    app: resume-ui
spec:
  defaultBackend:
    service:
      name: resume-ui-backend
      port:
        number: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: resume-ui-backend
  labels:
    app: resume-ui
spec:
  type: NodePort
  selector:
    app: resume-ui
    tier: web
  ports:
  - port: 8080
    targetPort: 8080
---