apiVersion: apps/v1
kind: Deployment
metadata:
  name: devdaze-ui
spec:
  selector:
    matchLabels:
      app: devdaze-ui
  template:
    metadata:
      labels:
        app: devdaze-ui
    spec:
      containers:
      - name: devdaze-ui
        image: dozy27/devdaze-ui:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
      imagePullSecrets:
      - name: dockerhub-credentials
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: devdaze-ui
  annotations:
    kubernetes.io/ingress.global-static-ip-name: devdaze-ip
    kubernetes.io/ingress.class: "gce"
    networking.gke.io/managed-certificates: devdaze-ui-cert
  labels:
    app: devdaze-ui
spec:
  defaultBackend:
    service:
      name: devdaze-ui-service
      port:
        number: 80
---
apiVersion: v1
kind: Service
metadata:
  name: devdaze-ui-service
  labels:
    app: devdaze-ui
spec:
  type: NodePort
  selector:
    app: devdaze-ui
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80