apiVersion: apps/v1
kind: Deployment
metadata:
  name: resume-ui
spec:
  selector:
    matchLabels:
      app: resume-ui
  template:
    metadata:
      labels:
        app: resume-ui
    spec:
      containers:
      - name: resume-ui
        image: dozy27/resume-ui:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
      imagePullSecrets:
      - name: dockerhub-credentials
---
apiVersion: v1
kind: Service
metadata:
  name: resume-ui
spec:
  type: LoadBalancer
  ports:
  - port: 80
  selector:
    app: resume-ui
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: resume-ui-ingress
  annotations:
    nginx.ingress.kubernetes.io/enable-cors: "true"
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  rules:
  - host: devdaze.org
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: resume-api
            port:
              number: 80