.App {
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  margin: 50px auto; 
  padding: 20px;
  background-color: #34495e; 
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}

.App-header {
  background-color: #2c3e50;
  padding: 20px;
  color: #ecf0f1;
  text-align: center;
  border-radius: 5px;
  font-size: 24px;
  margin-bottom: 20px;
}

.App-content {
  padding: 10px;
}

.App-link {
  background-color: #282c34; /* Darkened slightly to differentiate from main content */
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.App-link a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid transparent; /* To create a hover effect similar to h2 */
}

.App-link a:hover {
  text-decoration: none;
  border-bottom: 1px solid #3498db; /* Color underline on hover */
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #2c3e50; /* Darker grey background */
  margin: 0;
  padding: 0;
  color: #ecf0f1; /* Light color for contrast against the dark background */
}

.resume {
  max-width: 800px;
  background-color: #34495e; /* Slightly lighter than the body for contrast */
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: left; /* Align text to the left */
}

h2 {
  font-size: 24px;
  color: #ecf0f1;
  margin-top: 0;
  border-bottom: 2px solid #ecf0f1;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  color: #bdc3c7; /* Slightly darker color for subheadings */
  margin-top: 10px;
}

p, li, div {
  font-size: 16px;
  color: #bdc3c7; /* Slightly darker color for regular text */
  line-height: 1.6;
}

ul {
  list-style-type: disc;
  padding-left: 40px;
  margin-bottom: 20px;
}

.job {
  margin-bottom: 30px;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media only screen and (max-width: 600px) {
  .skills {
      grid-template-columns: 1fr;
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  background-color: #282c34;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 2px 8px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #555;
}