name: Docker Image CI

on:
  push:
    branches:
      - 'main'

jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.21.2
      -
        name: Get repo
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build binary
        run: |
           cd src
           go get .
           go mod tidy
           go build -o server main.go
           mv server ..
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: dozy27/resume-api:latest
          
  deploy:
    runs-on: ubuntu-latest
    steps:

      - 
        name: Check out code
        uses: actions/checkout@v3

      - 
        name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
        id: install


      - 
        name: Set up kubeconfig
        uses: azure/k8s-set-context@v3
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG }}

      - 
        name: Setup MongoDB using OCI
        run: |
          export HELM_EXPERIMENTAL_OCI=1
          
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | helm registry login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin registry-1.docker.io

           helm pull oci://registry-1.docker.io/bitnamicharts/mongodb

          helm install web-apps-mongodb oci://registry-1.docker.io/bitnamicharts/mongodb \
            --set mongodb.username=${{ secrets.MONGO_USERNAME }} \
            --set mongodb.password=${{ secrets.MONGO_PASSWORD }} \
            --set mongodb.database=${{ secrets.MONGO_DATABASE }}

      - 
        name: Connect to Kubernetes cluster
        run: |
          echo "$KUBECONFIG_FILE" > kubeconfig.yml
          export KUBECONFIG=kubeconfig.yml

      -
        name: Create Kubernetes Secret
        run: |
          kubectl create secret generic mongo-secret \
          --from-literal=MONGO_USERNAME=${{ secrets.MONGO_USERNAME }} \
          --from-literal=MONGO_PASSWORD=${{ secrets.MONGO_PASSWORD }} \
          --from-literal=MONGO_DATABASE=${{ secrets.MONGO_DATABASE }} \
          --dry-run=client -o yaml | kubectl apply -f -

      - 
        name: Deploy API
        run: |
          envsubst < deployment-template.yaml > deployment.yaml
