name: Manual Trigger Workflow

# configure manual trigger
on:
  workflow_dispatch:

jobs:
  kube-secrets:
    runs-on: ubuntu-latest
    steps:
      -
          name: Create Kubernetes Secret
          run: |
            kubectl create secret generic mongo-secret \
            --from-literal=MONGO_USERNAME=${{ secrets.MONGO_USERNAME }} \
            --from-literal=MONGO_PASSWORD=${{ secrets.MONGO_PASSWORD }} \
            --from-literal=MONGO_DATABASE=${{ secrets.MONGO_DATABASE }} \
            --dry-run=client -o yaml | kubectl apply -f -
  mongo-deploy:
    runs-on: ubuntu-latest
    steps:
      - 
        name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
        id: install
      - 
        name: Set up kubeconfig
        uses: azure/k8s-set-context@v3
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG }}

      - 
        name: Mongo Deploy
        run: |
          export HELM_EXPERIMENTAL_OCI=1
          
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | helm registry login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin registry-1.docker.io

          helm pull oci://registry-1.docker.io/bitnamicharts/mongodb
          echo "auth:" > custom-values.yaml
          echo "  rootPassword: ${{ secrets.MONGO_USERNAME }}" >> custom-values.yaml
          echo "  username: ${{ secrets.MONGO_USERNAME }}" >> custom-values.yaml
          echo "  password: ${{ secrets.MONGO_PASSWORD }}" >> custom-values.yaml
          echo "  database: ${{ secrets.MONGO_DATABASE }}" >> custom-values.yaml
          helm upgrade web-apps-mongodb oci://registry-1.docker.io/bitnamicharts/mongodb \
            --install \
            -f custom-values.yaml